.conailer-log{
    background-repeat: no-repeat;
    background-size: cover;
    /* position: fixed; */
    width: 100%;
    float: right;
    background-image: url('C:\Users\SightSpectrum\Desktop\additional\front\public\image/g11.jpg');
}
.log2{
    float: right;
}
.paper-log{
    width: 500px;
    height: 800px;
    /* margin: 20px;  */
}
.link{
    cursor: pointer;
    text-decoration: none;
    float: right;
    margin-right: 10px;
    padding-right: 40px;
}