/* *{
    margin: 20px;
} */
.container-full{
    background-repeat: no-repeat;
    background-size: cover;
    /* position: fixed; */
    width: 100%;
    /* margin: 10px; */
    float: right;
    background-image: url('C:\Users\SightSpectrum\Desktop\additional\front\public\image/g11.jpg');

}
.reg-part1{
    float: right;
}
h2{
    text-align: center;
    color: #047bf1d5;
    font-weight: 900;
}
.paper-regi{
    width: 500px;
    padding: 20px;
}
.img{
    height: 700px;
}
p{
    float: left;
}
